###### 1. Pandas is Pythons's version of excel

In [ ]:
# conda install pandas
# pip install pandas

In [ ]:
import numpy as np
import pandas as pd

###### 2. Series

In [ ]:
labels = ['nike', 'skx', 'others']
price = [100, 50, 70]
d = {'nike':100, 'skx':50, 'others':30}

In [ ]:
pd.Series(price)

In [ ]:
pd.Series(data = price, index = labels)

In [ ]:
pd.Series(d)

In [ ]:
pd.Series(data = [sum, min, max])

In [ ]:
ser1 = pd.Series([1,2,3,4], 
                 ['sentosa', 'city hall', 'bugis', 'lavendar'])

In [ ]:
ser2 = pd.Series([3,4,5,6], 
                 ['sunflower','cherry','leaf','branch'])

In [ ]:
ser1['sentosa']

In [ ]:
ser3 = pd.Series(data = labels)

In [ ]:
ser1+ser2 # no match found

In [ ]:
ser1+ser1

###### 3. DataFrame

In [ ]:
from numpy.random import randn

In [ ]:
np.random.seed(100)

In [ ]:
df = pd.DataFrame(data = randn(5,4) , 
                  index = ['a','b','c','d','e' ],
                  columns = ['x','y','z','x1'])

In [ ]:
df[['x','x1']] # selecting columns

In [ ]:
df.x # similar to SQL, but not recommended

In [ ]:
df['new col'] = df['x'] +df['y'] # create new columns

In [ ]:
df.drop('new col', axis = 1, inplace = False) 
# axis = 0 for rows
# axis = 1 for cols

In [ ]:
df.drop('a', axis = 0)

In [ ]:
df.shape

In [ ]:
df.loc[['a','b','c']] # selecting rows
df.iloc[0:3]

In [ ]:
df.loc['a','x'] # selecting a subset

In [ ]:
df.loc[['a','c'],['y','new col']]

In [ ]:
df[df>1] # conditional selection

In [ ]:
df[df['new col']> -0.5][['x','y']]
# selecting rows based on values of column

In [ ]:
df[(df['new col']> -0.5) & (df['x']<0)] 
# multiple conditions &,|

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.reset_index(inplace= False)

In [ ]:
new_index = 'apple banana orange cherry tomato'.split()

In [ ]:
df['Fruits'] = new_index

In [ ]:
df.set_index('Fruits')

In [ ]:
# multi-index, index hirarchy 
level1 = ['a','a','a','b','b','b']
level2 = [1,2,3,1,2,3]
multi_index = list(zip(level1, level2))

In [ ]:
multi_index=pd.MultiIndex.from_tuples(multi_index)

In [ ]:
df = pd.DataFrame(randn(6,2), 
                  multi_index, 
                  columns=['col1','col2'])

In [ ]:
df.loc['a']

In [ ]:
df.index.names=['section', 'class']

In [ ]:
df.loc['b'].loc[2]['col1']

In [ ]:
df.xs(1, level='class')
# cross section selection

###### 4. Handling missing data, groupby(), merging, joining, concatenating
pd.groupby(), pd.merge(), pd.concat(), df1.merge(df2)

In [ ]:
# dropna(), fillna()

d = {'a':[1,2,np.nan], 'b':[3,4,5], 'c':[np.nan, np.nan, 8]}
df = pd.DataFrame(d)

In [ ]:
df

In [ ]:
df.dropna() # drop row with na

In [ ]:
df.dropna(axis=1) #drop columns with na

In [ ]:
df.dropna(thresh=1) # thresh

In [ ]:
df['a'].fillna(df['a'].mean())

In [ ]:
# groupby: for aggregate functions
data ={'stock':['goog','goog', 'fb','fb', 'nike','nike'],
      'ceo':['Mr.g', 'Mr.b', 'Mr.g', 'Mr.b', 'Mr.g', 'Mr.b'],
      'share price':[100, 200, 300, 80, 100, 101]}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.groupby(by = 'stock').mean().loc['goog'] 
#sum() std() count() loc() max()  min()

In [ ]:
df.groupby(by='stock').describe().transpose()

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [ ]:
pd.concat([df1, df2, df3], axis = 0) # try axix = 1
# will show repeated column in the DataFrame

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
pd.merge(left, right, how = 'inner', on = 'key')
#to combine two DataFrame s with same columns or index,

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left.join(right, how = 'outer')
#join two DataFrame s with different indices

In [ ]:
left.join(right)

###### 5. operating

In [ ]:
df = pd.DataFrame({'col1':[2,2,3,3],'col2':[444,555,555,444],'col3':['abc','def','ghi','xyz']})
df.head()

In [ ]:
df['col2'].unique()

In [ ]:
df['col2'].nunique() #len()

In [ ]:
df['col2'].value_counts()

In [ ]:
df[df['col1'] == 2]

In [ ]:
def times2(x):
    return x*2

In [ ]:
df['col1'].apply(times2)

In [ ]:
df['col3'].apply(len)

In [ ]:
df['col1'].apply(lambda x:x*2)

In [ ]:
df.drop('col1', axis=1, inplace = False)

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.sort_values(by = 'col2')

In [ ]:
df.isnull()

In [ ]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.pivot_table(values = 'D', index=['A','B'], 
              columns=['C'])

###### 6. Input and Output

In [ ]:
# csv, excel, html, sql
# conda insall sqlalchemy
# conda install lxml
# conda install html5lib
# conda install BeautifulSoup4

In [190]:
pwd # location

'/Users/yapinghuang/Desktop/SMU 2021-2022/2. Python self learning/04-Pandas-Exercises'

In [193]:
# df = pd.read_csv('exmple.csv')
# df.to_csv('example', index = False)

In [ ]:
pd.read_html()